body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f0f2f5;
  color: #4842a1;
  line-height: 1.6;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.navbar {
  background-color: #4842a1;
  padding: 10px 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

h1,
h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

h3 {
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

a {
  color: #333; /* 기본 색상 */
  font-weight: bold;
}

a:visited {
  color: #333; /* 방문 후에도 같은 색상 */
}

a:hover {
  color: #333; /* 마우스를 올려도 같은 색상 */
}

a:active {
  color: #333; /* 클릭 중에도 같은 색상 */
}

.intro {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-snap-type: x mandatory;
}

section.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  flex: 1 1 48%;
  min-width: 300px;
  max-width: 500px;
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 3px 10px;
  text-align: left;
  vertical-align: top;
  word-break: break-word;
}

th {
  width: 33%;
  font-weight: bold;
}

.language-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.test-link {
  font-size: 12px;
  padding: 0px 1px 1px 10px;
}

.skill-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
    scrollbar-width: none; /* Firefox */
  }

  .container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .card {
    flex: 0 0 80%;
    min-width: 280px;
    scroll-snap-align: start;
  }
}
