:root {
  --primary-color: #4252a1; /* 기본 색상 */
  --secondary-color: #f9f9f9; /* 배경 색상 */
}

html {
  scroll-behavior: smooth;
}

.title {
  text-align: center;
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  line-height: 1.6;
  user-select: none;
  height: 100%;
}

.index-bg {
  background-color: var(--primary-color);
}

.logo {
  color: var(--secondary-color);
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.navbar {
  background-color: var(--secondary-color);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

h3 {
  margin-bottom: 10px;
}

.name-box {
  background-color: var(--primary-color);
  padding-left: 15px;
  padding-top: 8px;
  color: var(--secondary-color);
}

.name-hint {
  margin-bottom: -16px;
  font-size: 10px;
}

.name {
  font-size: 36px;
}

.family-name {
  padding-left: 3px;
}
.given-name {
  padding-left: 22px;
}

h3 {
  margin-top: 30px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.top-h {
  margin-top: 10px;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--primary-color);
}

.intro {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-snap-type: x mandatory;
}

.letter {
  padding-top: 25vh;
}

.container::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.container::-webkit-scrollbar-track {
  background: var(--primary-color); /* 밝은 배경 */
}

.container::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-top: 6px solid var(--primary-color);
}

section.card {
  background-color: var(--secondary-color);
  padding: 20px;
  flex: 1 1 48%;
  min-width: 290px;
  max-width: 500px;
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 3px 10px;
  text-align: left;
  vertical-align: top;
  word-break: break-word;
}

th {
  width: 35%;
  font-weight: bold;
}

.test-link {
  font-size: 12px;
  padding: 0px 1px 1px 10px;
}

.skill-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
  }

  .card {
    flex: 0 0 80%;
    min-width: 280px;
    scroll-snap-align: start;
  }
}

.alert {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 1s ease-out; /* opacity가 1초 동안 서서히 바뀌도록 설정 */
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border: 3px solid var(--primary-color);
}

.fade-bg {
  animation: bgFade 1s ease forwards;
  background-color: var(--primary-color); /* 시작 색 (파란색) */
  animation-delay: 0.5s;
}

.fade-div {
  opacity: 0;
  animation: contentfade 1s ease forwards;
  animation-delay: 1.2s;
}

.fade-1 {
  animation-delay: 0.1s;
}

.fade-2 {
  animation-delay: 0.5s;
}

@keyframes bgFade {
  0% {
    background-color: var(--primary-color); /* 시작 */
  }
  100% {
    background-color: var(--secondary-color); /* 끝 */
  }
}

@keyframes contentfade {
  to {
    opacity: 1;
  }
}
