<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
    <title>Inji Nam Resume</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page">
      <div class="title letter fade-div fade-1">장보고</div>
      <main>
        <div class="fade-div fade-2">
          <section class="main-text">
            <p>
              <span class="highlight"
                >서울 살 때는 퇴근길에 있는 마트에서 간단하게 장을 봤다</span
              >. 대형 마트는 아니지만, 대충 있을 건 다 있었다. 야채 수가 적은 건
              아쉬웠지만서도. 내려와서는 매일 나가질 않다 보니 굳이 나가서 장을
              본다는 게 제법 귀찮아서 배송에 의지하고 있다.
            </p>

            <p>
              서울에서도 엄마가 가끔 쿠팡을 보내줬지만, 대부분 종이박스로 오니
              뒷정리가 귀찮을 때가 많았다. 그때는 그나마 분리수거 하는 곳이 집
              바로 앞에 있어서 쓰레기 내놓기 편했지만, 지금은 제법 걸어가야 있는
              공원에 버려야 한다. 게다가 엘레베이터도 없어서 계단으로 n층을
              열심히 왔다갔다 해서 '오늘 쓰레기 버려야지' 생각만 해도 벌써
              힘들다.
            </p>

            <p>
              특히나 접힌 종이박스는 생각 이상으로 옮기기 힘들다. 넓이가 넓어
              잡기도 힘들고 바람이라도 불면 휘청휘청 날아가기 쉽다. 바람이 많이
              불던 어느 밤에 밀린 쓰레기 버리자고 길다란 종이 박스와 함께 다른
              재활용 쓰레기까지 양손 가득 들고 나갔다가 모든 걸 날릴 뻔 해서
              울고 싶었다.
            </p>

            <p>
              어쨌든 종이박스가 싫어진 요즘 나는 장보기 배송을 어떻게 이용하고
              있는가. G마켓에서 이마트몰로 주문하면 종이박스가 아니라 종이봉투를
              준다. 그래서 대충 장본 거 다 꺼내서 남은 봉투는 재활용 쓰레기 모을
              때 쓰면 딱 좋다.
            </p>

            <p>
              자주 사는 것들로는 고구마: 귀찮을 때 삶아두면 와구와구 먹을 수
              있어서 좋다. 계란이랑 먹으면 맛있는데 따로 삶기 귀찮아서 고구마만
              먹는다. 근데 이것만 먹고 있으면 친구들이 그걸로 밥이 되냐고 뭐라
              한다. 그래서 밥만큼 많이 먹어준다.
            </p>

            <ul>
              <li>우유: 은근 잘 떨어지는데 그때그때 사두기 귀찮다.</li>
              <li>
                계란: 밥이랑 먹다 보면 후딱 떨어진다. 유통기한이 신경쓰여서
                15개입 사서 떨어진다 싶으면 그때 새로 산다.
              </li>
              <li>
                싱하소다워터: 한번 사 먹고 반해서 대량으로 사뒀다. 탄산이 강한데
                부드러워서 먹기 편하다.
              </li>
              <li>
                허니버터칩: 입 심심할 때 먹는다. 사실 이것도 대량으로 사뒀다.
                찬장에 그득찼다.
              </li>
              <li>
                사골곰탕 + 한우 국거리용: 한우 따로 삶아서 국이랑 먹으면 좋다.
                귀찮을 때 한 사발 말아 먹는다.
              </li>
            </ul>

            <p>그 외에 잘 샀다 생각하는 것들은</p>

            <ul>
              <li>
                토스트빵: 대량으로 하나 얼려두니 귀찮을 때 꺼내 먹기 좋다.
                만들어둔 사파이어잼이랑 계란이랑 먹으면 궁합이 좋다.
              </li>
              <li>
                파마산 치즈: 파스타에 잔뜩 얹어 먹으면 맛있고 좋다. 은근
                유통기한이 짧은 거 같다.
              </li>
              <li>
                데체코: 파스타면. 넙덕한 거 사뒀는데 맛있다. 다음에는 얇은 거
                사먹어 볼 거다.
              </li>
              <li>
                혼합12곡: 저속노화밥을 본받고자 잡곡 찾아보다가 사본 건데 좋다.
                흰쌀 0.5컵이랑 이거 0.5컵으로 밥 해두면 2끼 먹을 수 있다. 근데
                양이 애매하게 부족해서 흰쌀 0.5컵이랑 이거 1컵으로 해볼까 싶다.
              </li>
              <li>
                한라봉: 맛있었는데 지금 가격이 두 배로 뛰어서 이제 못 먹는다.
              </li>
            </ul>

            <p>
              그 외에 야채랑 과일 같은 거 그때마다 보고 괜찮아 보이면 사 먹고
              있다.
            </p>

            <p>
              4만원부터 무료 배송이라서 되도록 4만원까지만 채우고 1주에 한번
              정도씩 주문하고 있다. 되도록 2주에 한번 시키고 싶은데 엄마
              말마따나 먹고 살자고 하는 짓인데 먹는 거에 야박해지면 너무 슬퍼질
              거 같아서 그냥 필수품(계란, 고구마, 우유 등)이 떨어진다 싶으면
              주문하고 있다. 그래도 일단 있는 거부터 먹는 건 중요하다 생각해서
              땡기는 음식의 대체품을 먼저 먹고 그래도 생각나면 그때 시키는 걸로
              하고 있다. 예를 들어 '초코우유가 먹고 싶다. 집에 있는 말차라떼부터
              먹고 생각해본다. 그래도 땡긴다. 그럼 주문한다.' 이런 식으로.
            </p>

            <p>
              근데 돈이 왜 이렇게 나갈까 생각해보면 요즘 책을 많이 샀다.
              도서관에 가면 좋겠지만, 내가 원하는 책은 근처 도서관에 없다.
              취업하겠다고 이것저것 갈피 못 잡고 보고 있으니 여차저차 돈이
              나간다. 지금 생각 중인 계획은 잘 되면 좋으련만, 또 닥쳐야 알 수
              있는 게 있겠지. 너무 멀리까지 생각하지 않으려고 노력 중이다.
            </p>
          </section>
        </div>
      </main>

      <div class="bottom-space">this is bottom</div>
      <script>
        const page = document.getElementById("page");
        let isBouncing = false;

        window.addEventListener("scroll", () => {
          const scrollY = window.scrollY;
          const maxScroll = document.body.scrollHeight - window.innerHeight;

          if (scrollY > maxScroll - 50 && !isBouncing) {
            isBouncing = true;

            setTimeout(() => {
              page.classList.remove("jelly-bounce");
              window.scrollTo({ top: maxScroll - 100, behavior: "smooth" });
              isBouncing = false;
            }, 300);
          }
        });
      </script>
    </div>
  </body>
</html>
